@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  @layer base {
    :root {
      /* figma design system */
      /* beige colors */
      --clr-beige-500: 23 6% 57%;
      --clr-beige-100: 30 36% 96%;
      /* grey colors */
      --clr-grey-900: 252 7% 13%;
      --clr-grey-500: 0 0% 41%;
      --clr-grey-300: 0 0% 70%;
      --clr-grey-100: 0 0% 95%;
      /* secondary colors */
      --clr-green: 177 52% 32%;
      --clr-yellow: 28 73% 81%;
      --clr-cyan: 190 52% 68%;
      --clr-navy: 248 8% 41%;
      --clr-red: 7 58% 50%;
      --clr-purple: 259 30% 56%;
      /* other colors */
      --clr-pink: 288 29% 62%;
      --clr-turquoise: 180 16% 42%;
      --clr-brown: 21 30% 44%;
      --clr-magenta: 332 30% 44%;
      --clr-blue: 205 48% 47%;
      --clr-grey: 214 11% 63%;
      --clr-army: 83 20% 47%;
      --clr-gold: 47 50% 59%;
      --clr-orange: 18 47% 52%;
      /* white */
      --clr-white: 0 0% 100%;

      /* shadcn ui */
      --background: var(--clr-beige-100);
      --foreground: var(--clr-grey-900);
      --card: var(--clr-white);
      --card-foreground: var(--foreground);
      --popover: 0 0% 100%;
      --popover-foreground: 20 14.3% 4.1%;
      --primary: var(--clr-grey-900);
      --primary-foreground: var(--clr-white);
      --secondary: 60 4.8% 95.9%;
      --secondary-foreground: 24 9.8% 10%;
      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5.3% 44.7%;
      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 60 9.1% 97.8%;
      --border: var(--clr-grey-500);
      --input: 20 5.9% 90%;
      --ring: 20 14.3% 4.1%;
      --radius: 0.5rem;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .text-present-1 {
    @apply font-bold text-[2rem] leading-[120%];
  }
  .text-present-2 {
    @apply font-bold text-xl leading-[120%];
  }
  .text-present-3 {
    @apply font-bold text-base leading-[150%];
  }
  .text-present-4 {
    @apply font-normal text-sm leading-[150%];
  }
  .text-present-4-bold {
    @apply font-bold text-sm leading-[150%];
  }
  .text-present-5 {
    @apply font-normal text-xs leading-[150%];
  }
  .text-present-5-bold {
    @apply font-bold text-xs leading-[150%];
  }

  .section-center {
    @apply max-w-[1060px] my-0 mx-auto w-[91.5%] 2xl:w-[93%];
  }

  @media screen and (min-width: 1440px) {
    .overviewSummarySection {
      gap: 1.5rem;
      grid-template-columns: 59fr 41fr;
      grid-template-rows: 30fr 24fr 46fr;
      grid-template-areas:
        "pots budgets"
        "transactions budgets"
        "transactions bills";
    }
    .overviewSummarySection article:nth-child(1) {
      grid-area: pots;
    }
    .overviewSummarySection article:nth-child(2) {
      grid-area: transactions;
    }
    .overviewSummarySection article:nth-child(3) {
      grid-area: budgets;
    }
    .overviewSummarySection article:nth-child(4) {
      grid-area: bills;
    }
  }
}
